//*=== new arrivals css start ===*//
.new-arrival {
  padding: 40px 0;
  .section-wrapper {
    padding-top: 30px;
    .new-arrival-slider {
      .swiper-wrapper {
        .swiper-slide {
          .post-card {
            margin: 12px;
          }
        }
      }
    }
  }
}
// common card
.post-card {
  @extend %shadow;
  text-align: center;
  background: $white-color;
  &:hover {
    .card-thumb {
      img {
        &.onmouse-thumb {
          opacity: 0;
        }
        &.outmouse-thumb {
          opacity: 1;
        }
      }
      .cart-btns {
        bottom: 0;
        opacity: 1;
      }
    }
  }
  .card-thumb {
    padding: 12px;
    height: 280px;
    overflow: hidden;
    position: relative;
    background: $white-color;
    img {
      width: 100%;
      object-fit: scale-down;
      &.outmouse-thumb {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in;
      }
    }
    .cart-btns {
      position: absolute;
      bottom: -70px;
      left: 50%;
      width: 100%;
      opacity: 0;
      transform: translateX(-50%);
      transition: all 0.3s ease-in;
      ul.cart-list {
        @extend %flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 6px;
        li {
          button {
            margin: 0 15px;
            background: transparent;
          }
        }
      }
      button.cartBtn {
        width: 100%;
        font-size: 12px;
        color: $white-color;
        padding: 8px 20px;
        background: $black;
      }
    }
  }
  .card-text {
    padding: 12px;
    h5 {
      margin: 0;
    }
    ul.price-list {
      @extend %flex;
      align-items: center;
      justify-content: center;
      li {
        margin: 0 5px;
        display: inline-block;
        strong {
          font-size: 12px;
          color: $theme-color;
        }
        del {
          font-size: 12px;
        }
      }
    }
  }
  &.offer-item {
    .card-thumb {
      overflow: hidden;
      position: relative;
      .offer-breds {
        position: absolute;
        top: 10px;
        left: 10px;
        span {
          font-size: 14px;
          color: $white-color;
          border-radius: 6px;
          padding: 4px 10px;
          background: $primary;
          @extend %shadow;
          display: inline-block;
        }
      }
      .sale-breds {
        position: absolute;
        top: 10px;
        right: 10px;
        span {
          font-size: 14px;
          color: $white-color;
          border-radius: 6px;
          padding: 4px 10px;
          background: $theme-color;
          @extend %shadow;
          display: inline-block;
        }
      }
    }
  }
}
//*=== new arrivals css ends  ===*//

//*=== buy by rooms css start ===*//
.buy-room-area {
  padding: 40px 0;
  .section-wrapper {
    padding-top: 40px;
    .room-items {
      &:hover {
        .item-inner {
          .inner-thumb {
            &::before {
              animation: shine 1s;
            }
          }
        }
      }
      .item-inner {
        padding: 30px;
        border-radius: 6px;
        background: $theme-gradient;
        .inner-thumb {
          height: 325px;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px;
          }
          &::before {
            @extend %absolute;
            top: 0;
            left: -80%;
            display: block;
            width: 50%;
            height: 100%;
            background: -o-linear-gradient(
              left,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0.3) 100%
            );
            background: -webkit-gradient(
              linear,
              left top,
              right top,
              from(rgba(255, 42556, 255, 0)),
              to(rgba(255, 255, 255, 0.3))
            );
            background: linear-gradient(
              to right,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0.3) 100%
            );
            -webkit-transform: skewX(-25deg);
            -ms-transform: skewX(-25deg);
            transform: skewX(-25deg);
          }
        }
        .inner-text {
          @extend %flex;
          padding-top: 16px;
          align-items: center;
          justify-content: space-between;
          h4 {
            margin: 0;
            color: $white-color;
            font-weight: 500;
          }
          a {
            height: 30px;
            width: 30px;
            line-height: 30px;
            border-radius: 100%;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            background: $white-color;
          }
        }
      }
    }
    .col-lg-4.col-sm-6.col-12:nth-child(2) .room-items {
      .item-inner {
        background: linear-gradient(to bottom, #0c047ed9, #340d11);
      }
    }
  }
}
//*=== buy by rooms css ends  ===*//

//*=== popular-category css start ===*//
.popular-category {
  padding: 40px 0;
  .section-wrapper {
    padding-top: 40px;
    .category-slider {
      .swiper-wrapper {
        .swiper-slide {
          .post-card {
            margin: 12px;
          }
        }
      }
    }
  }
}
//*=== popular-category css ends  ===*//

//*=== fasion area css start ===*//
.fasion-area {
  padding: 40px 0;
  .section-wrapper {
    .fasion-slider {
      .fasion-thumb {
        position: relative;
        img {
          width: 100%;
          object-fit: cover;
        }
        .fasion-text {
          position: absolute;
          right: 40px;
          bottom: 40px;
          padding: 16px;
          border-radius: 6px;
          width: 300px;
          min-height: 250px;
          background: $white-color;
          @extend %shadow;
          @include breakpoint(md) {
            width: 350px;
          }
          @include breakpoint(lg) {
            width: 400px;
          }
          @include breakpoint(xl) {
            width: 450px;
          }
          @include breakpoint(xxl) {
            width: 500px;
          }
          h4 {
            margin: 0;
            color: $black;
            font-weight: 500;
            max-width: 250px;
            line-height: 1.3;
          }
          a.btn {
            padding: 8px 42px;
            margin-top: 36px;
          }
        }
      }
    }
  }
}
//*=== fasion area css ends  ===*//

//*=== lets us help area start ===*//
.lets-help {
  padding: 40px 0;
  .section-wrapper {
    margin: 0 auto;
    padding-top: 40px;
    max-width: 1250px;
    .help-item {
      padding: 16px;
      text-align: center;
      .item-thumb {
        height: 250px;
        img {
          width: 100%;
          height: 100%;
          object-fit: scale-down;
        }
      }
      .item-text {
        h5 {
          margin: 0;
        }
        p {
          margin: 0 auto;
          font-size: 14px;
          max-width: 200px;
        }
      }
    }
  }
}
//*=== lets us help area ends  ===*//

//*=== shop banner css start ===*//
.shop-banner {
  min-height: 500px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-image: url(../../assets/images/banner/shop-bg.jpg);
  .shop-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    button.btn {
      padding: 12px 52px;
      span {
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
}
//*=== shop banner css ends  ===*//

//*=== special offer area start ===*//
.special-offer {
  padding: 40px 0;
  .section-wrapper {
    padding-top: 30px;
    .portfolio-list {
      ul.portfolio-menu {
        @extend %flex;
        align-items: center;
        justify-content: center;
        background: $white-color;
        @extend %shadow;
        border-radius: 25px;
        max-width: 800px;
        margin: 0 auto;
        li.button {
          cursor: pointer;
          padding: 12px 16px;
          display: inline-block;
          @include breakpoint(lg) {
            padding: 12px 24px;
          }
          &.is-checked {
            color: $theme-color;
          }
        }
      }
    }
    .grid {
      padding-top: 40px;
      .grid-item {
        padding: 7.5px;
        width: 100%;
        @include breakpoint(sm) {
          width: calc(100% / 2 - 15px);
        }
        @include breakpoint(md) {
          width: calc(100% / 3 - 15px);
        }
        @include breakpoint(xl) {
          width: calc(100% / 4 - 15px);
        }
        @include breakpoint(xxl) {
          width: calc(100% / 5 - 15px);
        }
      }
    }
  }
}
//*=== special offer area ends  ===*//

//*=== footer area start ===*//
footer {
  padding: 40px 0;
  .section-wrapper {
    .quick-links {
      .link-title {
        h6 {
          margin: 0;
          font-size: 16px;
          font-weight: 500;
          padding-bottom: 12px;
        }
      }
      ul.footer__menu_list {
        li {
          a {
            margin: 5px 0;
            font-size: 13px;
            display: inline-block;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: $theme-color;
            }
          }
        }
        &.style-one {
          display: block;
          li {
            font-size: 13px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 10px 0;
            span {
              margin-right: 6px;
            }
          }
        }
      }
    }
  }
}
//*=== footer area ends  ===*//

//?=== product view page css start ===?//
.porduct-view {
  padding: 40px 0;
  .primary-sidebar {
    .sidebar-widget {
      position: relative;
      padding: 30px;
      border: 1px solid darkgray;
      border-radius: 15px;
      @extend %shadow;
      h5.section-title {
        font-size: 24px;
        font-weight: 500;
        position: relative;
        margin-bottom: 16px;
        padding-bottom: 6px;
        &::after {
          @extend %absolute;
          bottom: -3px;
          left: 0;
          width: 100px;
          height: 3px;
          background: $theme-gradient;
        }
        &::before {
          @extend %absolute;
          bottom: -1.5px;
          left: 0;
          height: 1px;
          width: 100%;
          background: darkgray;
        }
      }
      ul.color-list {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-height: 100px;
        overflow-y: auto;
        li {
          width: calc(100% / 2);
          a {
            margin: 5px;
            display: inline-block;
            text-decoration: none;
            img {
              width: 20px;
              height: 20px;
              border-radius: 100%;
            }
            span {
              font-size: 12px;
            }
          }
        }
      }
      ul.meterial-list {
        max-height: 200px;
        overflow-y: auto;
        li {
          padding: 6px 0;
          label {
            margin-left: 6px;
            display: inline-block;
          }
        }
      }
    }
    .product-sidebar {
      .single-post {
        position: relative;
        &:not(:last-child) {
          margin-bottom: 10px;
          border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
          padding-bottom: 10px;
        }
        .content {
          padding-left: 95px;
        }
        i {
          font-size: 12px;
        }
      }
      .image {
        height: 80px;
        width: 80px;
        float: left;
        margin-right: 10px;
        overflow: hidden;
      }
    }
    .por-sidebar-item {
      margin-top: 26px;
      .pro-filter {
        position: relative;

        /* ====  nstslider css  ==== */
        .is_clickable {
          cursor: hand;
          cursor: pointer;
        }
        .nstSlider {
          cursor: hand;
          cursor: pointer;
          border: 1px solid #f0f0f0;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          position: relative;
          width: 100%;
          height: 10px;
          background: #fafafa;
          margin-bottom: 10px;
        }
        .nstSlider .leftGrip.gripHighlighted {
          background: #113344;
        }
        .nstSlider .rightGrip.gripHighlighted {
          background: #113344;
        }
        .nstSlider .rightGrip,
        .nstSlider .leftGrip {
          position: absolute;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          width: 6px;
          height: 15px;
          background: #363636;
          top: -2px;
          left: 0px;
        }
        .nstSlider .bar {
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          position: absolute;
          background: $theme-gradient;
          height: 10px;
          top: 0;
        }
        .nstSlider .highlightPanel {
          -webkit-transition: all 500ms ease-in-out;
          -moz-transition: all 500ms ease-in-out;
          -ms-transition: all 500ms ease-in-out;
          -o-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          position: absolute;
          background: #e87722;
          height: 20px;
          top: 0;
        }
        button.filter-btn {
          font-size: 13px;
          line-height: 15px;
          color: #000000;
          margin-top: 25px;
          padding: 8px 16px;
          box-sizing: border-box;
          border-radius: 3px;
          background: #ffffff;
          border: 0.25px solid rgba(7, 111, 175, 0.5);
          &:focus {
            border: 0;
            outline: 0;
            box-shadow: none;
          }
        }
      }
    }
    .banner-img {
      position: relative;
      clear: both;
      border-radius: 10px;
      overflow: hidden;
      img {
        border-radius: 10px;
      }
      &:hover {
        img {
          opacity: 0.9;
        }
      }
      .banner-text {
        position: absolute;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);
        padding: 0 50px;
        span {
          color: darkgray;
        }
        h4 {
          font-weight: 700;
          margin-bottom: 15px;
          min-height: 100px;
        }
        &:hover h4 {
          transform: translateY(-5px);
        }
        a {
          i {
            margin-left: 5px;
            transition-duration: 0.3s;
            font-size: 10px;
          }
          &:hover i {
            margin-left: 10px;
            transition-duration: 0.3s;
          }
        }
      }
    }
  }
  .widget-category-2 {
    ul {
      li {
        display: flex;
        align-items: center;
        line-height: 48px;
        border-radius: 5px;
        border: 1px solid $theme-color;
        padding: 9px 18px;
        margin: 0 0 15px 0;
        justify-content: space-between;
        transition: all 0.3s ease-in-out;
        &:last-child {
          margin-bottom: 0 !important;
        }
        &:hover {
          border: 1px solid $primary-lt;
          @extend %shadow;
          transition: all 0.3s ease-in-out;
          a {
            color: $theme-color;
          }
        }
        a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 0;
          line-height: 1.5;
          color: #000;
          font-size: 14px;

          &:hover {
            color: $theme-color;
            background-color: transparent;
          }
          img {
            max-width: 30px;
            margin-right: 15px;
          }
        }

        &:hover .dropdown-menu {
          display: block;
          opacity: 1;
          visibility: visible;
          margin-top: 0px;
          pointer-events: auto;
        }

        &.has-children {
          position: relative;
          > a::after {
            content: "\f111";
            font-family: "uicons-regular-straight" !important;
            position: absolute;
            right: 30px;
            top: 50%;
            margin-top: -10px;
          }
          .dropdown-menu {
            left: 100%;
            top: 0;
            margin: 0;
            margin-top: 0px;
            border: 1px solid darkgray;
            min-width: 800px;
            width: 100%;
            right: 0;
            border-radius: 0;
            padding: 20px;

            .submenu-title {
              font-size: 16px;
              font-weight: 700;
              display: block;
              color: $theme-color;
              padding: 5px 34px;
            }
            .header-banner2 {
              display: block;
              position: relative;
              margin-bottom: 15px;

              .banne_info {
                position: absolute;
                right: 0;
                top: 50%;
                -moz-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                padding: 15px;

                a {
                  text-transform: capitalize;
                  position: relative;
                  padding: 0;
                  color: #272a2c !important;

                  &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 1px;
                    width: 50%;
                    background-color: #272a2c;
                    transition: all 0.5s ease-in-out;
                  }
                }
              }
            }
          }
        }
      }
      &.end {
        li {
          margin-right: 0;
        }
      }
    }
    .count {
      display: inline-block;
      background-color: $primary-lt;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      border-radius: 20px;
      margin-left: 5px;
      font-size: 12px;
      color: #000;
    }
  }
  .shop-title {
    padding: 16px 20px;
    margin-bottom: 30px;
    border-radius: 6px;
    background: $white-color;
    @extend %shadow;
    p {
      margin-bottom: 0;
      color: #333;
    }
    .product-view-mode {
      a {
        color: #333;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &.active {
          svg {
            stroke: $theme-color;
            path {
              fill: $theme-color;
            }
          }
        }
        &:last-child {
          margin-left: 5px;
        }
      }
    }
  }
  .product-wrap {
    &.grid {
      .product-list-item {
        display: none;
      }
    }
    &.list {
      .col-lg-4.col-md-6.col-12 {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .product-item {
        display: none;
      }
    }
    .product-item,
    .product-list-item {
      padding: 15px;
      margin-bottom: 20px;
      display: block;
      align-items: center;
      background: $white-color;
      -webkit-animation-name: zoomIn;
      animation-name: zoomIn;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      @extend %shadow;
      border-radius: 6px;
      &:hover {
        .product-thumb {
          .product-action-link {
            bottom: 0;
          }
        }
      }
      .product-thumb {
        height: 200px;
        position: relative;
        overflow: hidden;
        img {
          width: 100%;
        }
        .product-action-link {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          position: absolute;
          left: 0;
          bottom: -70px;
          width: 100%;
          background: $theme-gradient;
          padding: 5px;
          transition: all 0.3s ease-in-out;
          a {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            border-radius: 3px;
            background-color: #fff;
            color: #000;
            border: 1px solid transparent;
            transition: all 0.3s ease-in-out;
            &.view-modal {
              cursor: pointer;
            }
          }
        }
      }
      .product-content {
        text-align: center;
        h5 {
          margin: 0;
          margin-top: 12px;
          margin-bottom: 5px;
          a {
            font-size: 16px;
            font-weight: 500;
            color: #333333c9;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: $theme-color;
            }
          }
        }
        p {
          color: #000;
          margin-bottom: 5px;
          i {
            color: #ecb341;
          }
        }
      }
    }
    .product-list-item {
      display: flex;
      flex-wrap: wrap;
      .product-thumb {
        width: 100%;
        @include breakpoint(md) {
          width: 35%;
        }
        img {
          width: 100%;
        }
      }
      .product-content {
        width: 100%;
        text-align: left;
        padding-left: 20px;
        @include breakpoint(md) {
          width: 65%;
        }
        p {
          color: #333;
        }
      }
    }
  }
  .pagination-area {
    // pagination section srart here
    .pagination {
      @extend %flex;
      justify-content: center;
      margin-top: 0;
      margin-bottom: 30px;
      li {
        margin: 5px;
        &:nth-child(5) {
          a {
            cursor: crosshair;
            line-height: 25px;
          }
        }
        a {
          width: 40px;
          height: 40px;
          line-height: 30px;
          border: 5px solid $white-color;
          background: #f4f9fd;
          color: #333;
          font-size: 12px;
          text-align: center;
          font-weight: normal;
          display: inline-block;
          box-shadow: 0 0 3px 0 rgba(136, 136, 136, 0.6);
          transition: all 0.5s ease-in-out;
          &.active,
          &:hover {
            background: $theme-color;
            color: $white-color;
          }
        }
      }
    }
  }
}

// quick view modal css
.modal {
  &.show {
    display: block;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    visibility: visible;
    pointer-events: visible;
    z-index: 99999999;
    -webkit-animation: slideInDown 0.4s forwards;
    animation: slideInDown 0.4s forwards;
    overflow-y: scroll;
    background: #060000b0;
  }
  .modal-dialog {
    .modal-content {
      button {
        &.close {
          width: 40px;
          height: 40px;
          position: absolute;
          top: 0;
          right: 2px;
          background: transparent;
          z-index: 9;
          color: $theme-color;
          text-shadow: none;
          opacity: 1;
          &:hover {
            color: $theme-color;
          }
        }
      }
      .modal-body {
        background: #f6faf9;
        border-radius: 8px;
        .product-details-inner {
          .popup-thumb {
            img {
              width: 100%;
            }
          }
          .product-content {
            margin-top: 30px;
            @include breakpoint(sm) {
              margin-top: 0;
            }
          }
          .cart-button {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .cart-plus-minus {
              margin: 0;
              margin-right: 10px;
            }
            .defult-btn {
              margin-top: 20px;
              color: $white-color;
              padding: 9.5px 30px;
              border-radius: 3px;
              background: $theme-color;
            }
          }
        }
      }
    }
  }
}
/* cart-plus-minus start here  */
.cart-plus-minus {
  border: 1px solid #dee0e4;
  overflow: hidden;
  width: 120px;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  .dec.qtybutton {
    border-right: 1px solid #dee0e4;
    height: 36px;
    left: 0;
    top: 0;
  }
  .cart-plus-minus-box {
    border: medium none;
    color: #333;
    float: left;
    font-size: 14px;
    height: 36px;
    margin: 0;
    text-align: center;
    width: 120px;
    outline: none;
  }
  .qtybutton {
    color: #333;
    cursor: pointer;
    float: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    margin: 0;
    position: absolute;
    text-align: center;
    transition: all 0.3s ease 0s;
    width: 40px;
    &:hover {
      background: $theme-gradient;
      color: $white-color;
    }
  }
  .inc.qtybutton {
    border-left: 1px solid #e3e3e3;
    height: 36px;
    right: 0;
    top: 0;
  }
}
//?=== product view page css ends ===?//

//?=== product details page css start ===?//
//*=== product details css start ===*//
.product-details {
  padding: 30px 0;
  .product-variation {
    .shop-thumSlider {
      position: relative;
      overflow: hidden;
      &.gallery-top {
        position: relative;
        .swiper-wrapper {
          .swiper-slide {
            padding: 10px;
            border-radius: 6px;
            border: 0.5px solid rgba(37, 52, 119, 0.4);
            .big-thumb {
              img {
                width: 100%;
                height: 250px;
                object-fit: scale-down;
              }
            }
          }
        }
        &:hover {
          .product-button-next {
            opacity: 1;
            right: 8px;
            visibility: visible;
          }
          .product-button-prev {
            opacity: 1;
            left: 8px;
            visibility: visible;
          }
        }
        .product-button-next,
        .product-button-prev {
          position: absolute;
          top: 50%;
          width: 36px;
          height: 36px;
          font-size: 20px;
          text-align: center;
          cursor: pointer;
          border: 1px solid $theme-color;
          transform: translate(0, -50%);
          border-radius: 5px;
          z-index: 1;
          opacity: 0;
          visibility: hidden;
        }
        .product-button-next {
          right: -25px;
          @include transition($transition);
          i {
            font-size: 25px;
            color: $theme-color;
          }
        }
        .product-button-prev {
          left: -25px;
          @include transition($transition);
          i {
            font-size: 25px;
            color: $theme-color;
          }
        }
      }
      &.gallery-thumbs {
        padding-top: 20px;
        .swiper-wrapper {
          .swiper-slide {
            .small-thumb {
              padding: 6px;
              height: 60px;
              border-radius: 6px;
              border: 1px solid rgba(37, 52, 119, 0.62);
              img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
              }
            }
          }
        }
      }
    }
  }
  .details-content {
    .store-title {
      display: flex;
      align-items: center;
      img {
        padding-right: 8px;
      }
      span {
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        color: #9a9a9a;
      }
    }
    .product-title {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px 0 5px;
      align-items: center;
      h4 {
        margin: 0;
        font-weight: 500;
        font-size: 20px;
        color: #000000;
      }
      p {
        margin: 0;
        margin-left: 0;
        font-size: 13px;
        padding: 4px 16px;
        border-radius: 25px;
        background: rgba(174, 239, 208, 0.51);
        @include breakpoint(sm) {
          margin-left: 30px;
        }
      }
      button {
        height: 50px;
        width: 50px;
        line-height: 50px;
        border: 0.5px solid #3f3f3f;
        border-radius: 100%;
        background: transparent;
      }
    }
    .product-review {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .review-crount {
        padding-left: 10px;
        span {
          font-size: 13px;
          line-height: 15px;
          color: #a4a4a4;
        }
      }
    }
    .product_options {
      padding-bottom: 30px;
      .single_option {
        .form-group {
          .option_values {
            display: flex;
            clear: both;
            width: 100%;
            ul.filter_fabric_color__list {
              @extend %flex;
              li {
                .radio-color-item {
                  .form-radio {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    display: inline-block;
                    position: relative;
                    background-color: #f1f1f1;
                    color: #fff;
                    top: 10px;
                    height: 30px;
                    width: 30px;
                    border: 0;
                    border-radius: 50px;
                    cursor: pointer;
                    margin-right: 7px;
                    outline: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    .product-price {
      ul {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0 8px;
        align-items: center;
        li {
          margin-left: 12px;
          &:nth-child(1) {
            margin-left: 0;
            del {
              font-weight: 500;
              font-size: 20px;
              line-height: 23px;
              color: #c2c2c2;
            }
          }
          &:nth-child(2) {
            span {
              font-weight: 500;
              font-size: 20px;
              line-height: 23px;
              color: #c8102e;
            }
          }
          &:nth-child(3) {
            span {
              padding: 4px 16px;
              font-size: 11px;
              line-height: 13px;
              color: #f27000;
              background: rgba(255, 188, 9, 0.33);
              border-radius: 25px;
            }
          }
        }
      }
    }
    .product-des {
      padding-bottom: 12px;
      .des-title {
        h4 {
          margin: 0;
          font-weight: normal;
          font-size: 18px;
          line-height: 21px;
          color: #000000;
          padding: 8px 0 12px;
          strong {
            color: $primary-color;
          }
        }
      }
      p {
        margin: 0;
        font-size: 15px;
        line-height: 18px;
        color: #9d9d9d;
      }
    }
    .product-size {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      .size-title {
        h6 {
          margin: 0;
          font-size: 14px;
          line-height: 16px;
          color: #000000;
        }
      }
      .size-list {
        button {
          padding: 0;
          color: #9d9d9d;
          font-size: 14px;
          line-height: 16px;
          margin: 5px;
          background: transparent;
          &.active {
            color: $primary-color;
          }
        }
      }
    }
    .product-qt {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      padding-top: 16px;
      .qt-title {
        span {
          font-size: 14px;
          line-height: 16px;
          color: #000000;
        }
      }
      .cart-style {
        padding-left: 10px;
        .cart-plus-minus {
          margin: 0;
          border-radius: 6px;
          border: 0.25px solid rgba(0, 0, 0, 0.15);
          .qtybutton {
            line-height: 30px;
          }
          .dec.qtybutton {
            height: 30px;
            background: rgba(37, 52, 119, 0.04);
            &:hover {
              background: $theme-color;
            }
          }
          .inc.qtybutton {
            height: 30px;
            background: rgba(37, 52, 119, 0.04);
            &:hover {
              background: $theme-color;
            }
          }
          .cart-plus-minus-box {
            height: 30px;
          }
        }
      }
    }
    .product-listBtn {
      ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style: none;
        li {
          margin: 5px;
          margin-top: 16px;
          &:nth-child(1) {
            margin-left: 0;
            button {
              width: 77px;
            }
          }
          button {
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #ffffff;
            padding: 10px;
            width: 246px;
            border-radius: 25px;
            background: $primary-color;
            transition: all 0.3s ease-in-out;
            &:focus {
              border: 0;
              outline: none;
            }
            &:hover {
              color: #fff;
              background: $theme-color;
              svg {
                path {
                  fill: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
  .product-description {
    padding-top: 60px;
    .menu-details {
      .review {
        .review-tab-content {
          .review-menu {
            border-bottom: 1px solid #ebebeb;
            button {
              color: #000;
              padding: 18px 20px;
              margin-right: 8px;
              font-size: 16px;
              font-weight: 500;
              text-transform: uppercase;
              background: $white-color;
              @include breakpoint(max-md) {
                margin-top: 10px;
              }
              @include breakpoint(max-mobile) {
                padding: 15px 14px;
              }
              &.tablinks {
                &.active {
                  border-bottom: 2px solid $theme-color;
                }
              }
              &:focus {
                outline: none;
              }
            }
          }
          .nav-pills {
            border-bottom: 0;
            .nav-item {
              &:nth-child(1) {
                button.nav-link {
                  margin-left: 0;
                }
              }
              button.nav-link {
                margin: 5px;
                padding: 4px 12px;
                border-radius: 25px !important;
                @include breakpoint(max-sm) {
                  font-size: 12px;
                }
                &.active {
                  color: #333;
                  background: #ffffff;
                  border: 0.25px solid $theme-color;
                  box-shadow: 0px 5px 10px rgba(37, 52, 119, 0.13);
                }
              }
            }
          }
          .tabcontent {
            width: 100%;
            margin-top: 15px;
            -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s;

            .post-text {
              h4 {
                margin: 0;
                text-transform: capitalize;
                padding-bottom: 10px;
              }
              p {
                margin: 0;
              }
              ul li span strong {
                width: 160px;
                display: inline-block;
              }
              .inner-text {
                padding-top: 30px;
                h4 {
                  margin: 0;
                  padding-bottom: 10px;
                }
                p {
                  margin: 0;
                  padding-bottom: 15px;
                }
              }
              img {
                float: right;
                padding: 0 20px;
                width: 450px;
                @include breakpoint(max-lg) {
                  width: 250px;
                }
              }
            }
            .food-specification {
              padding-top: 30px;
              table {
                width: 100%;
                @include breakpoint(xl) {
                  width: 50%;
                }
                tbody {
                  border: 1px solid rgba(37, 52, 119, 0.4);
                  tr {
                    border-left: none;
                    border-bottom: 1px solid rgba(37, 52, 119, 0.4);
                    th {
                      padding: 10px;
                      font-weight: 400;
                      border-right: 1px solid rgba(37, 52, 119, 0.4);
                    }
                    td {
                      padding: 10px;
                    }
                  }
                }
              }
            }
            .review-list {
              ul {
                padding: 0;
                margin: 0;
                li {
                  list-style: none;
                  padding: 15px 20px;
                  margin: 10px 0;
                  background: $white-color;
                  border-radius: 3px;
                  box-shadow: 0 0 10px 0 rgba(136, 136, 136, 0.1);
                  .rating {
                    span {
                      color: #ff953a;
                    }
                  }
                  p {
                    margin: 0;
                    padding-top: 5px;
                  }
                  h5 {
                  }
                }
              }
            }
            .review-form {
              .comment-respos {
                h5 {
                  margin: 0;
                  font-weight: normal;
                  padding-bottom: 20px;
                }
                form {
                  p {
                    display: flex;
                    width: 100%;
                    @include breakpoint(mobile) {
                      display: block;
                    }
                    del {
                      span {
                        i {
                          color: $primary-color;
                          transition: all 0.3s ease-in-out;
                          &:hover {
                            color: $theme-color;
                          }
                        }
                      }
                    }
                    label {
                      flex: 0 0 30%;
                      font-weight: 400;
                      vertical-align: middle;
                      max-width: 30%;
                    }
                    textarea {
                      width: 100%;
                      border-radius: 3px;
                      border: 1px solid $border-color;
                    }
                    input {
                      width: 100%;
                      border-radius: 3px;
                      border: 1px solid $border-color;
                    }
                    button {
                      padding: 10px 30px;
                      margin-left: 30%;
                      font-weight: bold;
                      @include breakpoint(mobile) {
                        float: left;
                        margin-left: 0;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
//*=== product details css ends  ===*//
//?=== product details page css start ===?//

//?=== cart page css start ===?//
.list-view {
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr;
  @include breakpoint(lg) {
    grid-template-columns: 2fr 1fr;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
  }
  .checkout-items {
    .card {
      margin-bottom: 2.2rem;
      border: none;
      border-radius: 0.5rem;
      box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      &.ecommerce-card {
        overflow: hidden;
        .card-content {
          display: grid;
          grid-template-columns: 1fr;
          @include breakpoint(sm) {
            grid-template-columns: 1fr 2fr 1fr;
          }
          .item-img {
            -webkit-align-self: center;
            -ms-flex-item-align: center;
            align-self: center;
            padding-left: 1rem;
            padding-right: 1rem;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            height: 100%;
            @include breakpoint(max-sm) {
              padding: 16px;
              padding-bottom: 12px;
            }
            a {
              display: inline-block;
              img {
                width: 100%;
                object-fit: scale-down;
              }
            }
          }
          .card-body {
            padding: 1rem;
            padding-bottom: 0.5rem;
            border-right: 1px solid #dae1e7;
            .item-name {
              margin-bottom: 0.25rem;
              font-size: 0.95rem;
              font-weight: 600;
              color: #2c2c2c;
              a {
                font-size: 14px;
                font-weight: 400;
                color: #000;
                display: inline-block;
                text-decoration: none;
              }
              .item-company {
                margin: 0;
                display: block;
                cursor: pointer;
                font-size: 0.875rem;
                span.company-name {
                  color: $theme-color;
                }
              }
              .stock-status-in {
                margin: 0;
                color: #28c76f;
                font-weight: 400;
                font-size: 0.875rem;
              }
            }
            .item-quantity {
              font-weight: 700;
              font-size: 0.875rem;
              padding-bottom: 12px;
              .quantity-title {
                margin-bottom: 0.5rem;
              }
              .cart-button {
                .cart-plus-minus {
                  margin-left: 0 !important;
                }
              }
            }
            .delivery-date,
            .offers {
              margin: 0;
              font-size: 13px;
            }
          }
          .item-options {
            padding: 1rem;
            .item-wrapper {
              position: relative;
              .item-rating {
                position: absolute;
                right: 0;
                .badge {
                  font-size: 14px;
                  color: $white-color;
                  background: $theme-gradient;
                }
              }
              .item-cost {
                .item-price {
                  position: relative;
                  top: 55px;
                  font-size: 16px;
                }
              }
            }
            .shipping {
              position: relative;
              top: 50px;
              font-weight: 300;
              color: #b8c2cc;
            }
            .wishlist {
              margin-top: 70px;
              margin-bottom: 10px;
              background-color: #f6f6f6;
              color: #2c2c2c;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
            .cart {
              color: $white-color;
              border-radius: 6px;
              background: $theme-gradient;
            }
            .wishlist,
            .cart {
              padding: 8px 12px;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -webkit-justify-content: center;
              -ms-flex-pack: center;
              justify-content: center;
              border-radius: 6px;
            }
          }
        }
      }
    }
  }
  .checkout-options {
    .options-title {
      color: #b8c2cc;
    }
    .coupons {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      .coupons-title {
        font-weight: 600;
        p {
          margin: 0;
        }
      }
      .apply-coupon {
        color: #2ca8ff;
        font-weight: 500;
        cursor: pointer;
        p {
          margin: 0;
        }
      }
    }
    .price-details {
      font-weight: 600;
      margin-bottom: 0.75rem;
    }
    .detail {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin-bottom: 0.75rem;
      .detail-title {
        color: #b8c2cc;
        .detail-total {
          color: #626262;
          font-weight: 600;
        }
      }
      .detail-amt.discount-amt {
        color: #28c76f;
      }
      .detail-amt.emi-details {
        color: #2ca8ff;
        cursor: pointer;
      }
      .detail-amt.total-amt {
        font-weight: 600;
      }
    }
  }
}
//?=== cart page css ends  ===?//

/*=====================================================
    17. SHOPPING CHECKOUT
======================================================*/
.checkout-wrapper {
  padding: 60px 0;
  .heading {
    font-weight: 500;
    color: $white-color;
    font-size: 16px;
    padding: 12px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-bottom: 20px;
    border-radius: 6px;
    background: $theme-gradient;
  }
  form.billing-info-form {
    .form-group {
      position: relative;
      margin-bottom: 12px;
      label {
        font-size: 14px;
        font-weight: 500;
        color: #676767;
      }
      input::-webkit-input-placeholder,
      textarea::-webkit-input-placeholder {
        font-size: 12px;
        font-style: italic;
        opacity: 0.8;
      }
      input::-moz-placeholder,
      textarea::-moz-placeholder {
        font-size: 12px;
        font-style: italic;
        opacity: 0.8;
      }
      input:-ms-input-placeholder,
      textarea:-ms-input-placeholder {
        font-size: 12px;
        font-style: italic;
        opacity: 0.8;
      }
      input::-ms-input-placeholder,
      textarea::-ms-input-placeholder {
        font-size: 12px;
        font-style: italic;
        opacity: 0.8;
      }
    }
  }
}
.checkout-wrapper .billing-info-form input::placeholder,
.checkout-wrapper .billing-info-form textarea::placeholder {
  font-size: 12px;
  font-style: italic;
  opacity: 0.8;
}
.checkout-wrapper .billing-info-form select {
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 40px;
  border-radius: 0;
  font-size: 14px;
}
.checkout-wrapper .billing-info-form select:focus,
.checkout-wrapper .billing-info-form textarea:focus {
  border-color: #ccc;
}
.checkout-wrapper .billing-info-form textarea {
  resize: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.checkout-wrapper .billing-info-form input[type="checkbox"],
.select-payment-method ul li input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  top: 3px;
  outline: none;
  background: var(--white);
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: box-shadow 0.3s;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  -o-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(1, 1, 1, 0.3);
  box-shadow: inset 0px 0px 0px 1px rgba(1, 1, 1, 0.3);
  width: 21px;
  height: 21px;
  display: inline-block;
}

.checkout-wrapper .billing-info-form input[type="checkbox"] + label,
.select-payment-method ul li input[type="radio"] + label {
  position: relative;
  padding: 0 0 0 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.billing-info-form input[type="checkbox"]:checked + label:after,
.select-payment-method ul li input[type="radio"]:checked + label:after {
  content: "\2713\0020";
  position: absolute;
  top: 3px;
  left: 4px;
  font-size: 18px;
  line-height: 0.8;
  color: #09ad7e;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial;
}

.order-sumary .shop-table thead {
  background-color: #eee;
}
.order-sumary .shop-table thead th {
  border: none;
  font-size: 14px;
}
.order-sumary .shop-table tbody td .product-image {
  display: inline;
  float: left;
  background-color: #ccc;
  border: 1px solid #ccc;
  margin-right: 15px;
}
.order-sumary .shop-table td,
.order-sumary .shipping-method td {
  font-size: 14px;
}
.select-payment-method ul li.payment-method {
  position: relative;
  margin-bottom: 15px;
  font-size: 14px;
}
.select-payment-method ul li.payment-method label {
  margin: 4px 0 5px;
  font-weight: 600;
  color: #676767;
  cursor: pointer;
  display: inline-block;
}
.select-payment-method ul li .label-info {
  line-height: 24px;
  opacity: 0.9;
  padding: 5px 0 0 30px;
}

.select-payment-method ul li.payment-method label img {
  vertical-align: top;
}
.select-payment-method ul li input[type="radio"]:checked + label:after {
  top: 3px;
}
.order-sumary .shipping-method tr:last-child {
  border-bottom: 1px solid #dee2e6;
}
.order-sumary .shop-table td .product-name {
  padding-left: 80px;
}
.order-sumary .shop-table td .product-name p.name {
  font-weight: 600;
}
.placeorder button[type="submit"] {
  padding: 12px 0;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  outline: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  text-transform: uppercase;
  border-radius: 6px;
  background: $theme-gradient;
}
.placeorder button[type="submit"]:hover {
  background-color: #000;
}

//?=== room area start ====?//
.rooms-area {
  padding: 60px 0;
  background: #f4f9fd;
  .room-card {
    .card-thumb {
      a {
        display: block;
        text-decoration: none;
        img {
          width: 100%;
          object-fit: cover;
          border-radius: 6px 6px 0 0;
        }
      }
    }
    .card-text {
      padding: 12px;
      border-radius: 6px 0 0 6px;
      background: $white-color;
      a {
        text-decoration: none;
        h4 {
          margin: 0;
          font-weight: 500;
          font-size: 16px;
        }
      }
      p {
        margin: 0;
        font-size: 14px;
      }
    }
  }
}
//?=== room area ends  ====?//

// all keyframes css

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
