//*=== new arrivals css start ===*//
.new-arrival {
  padding: 40px 0;
  .section-wrapper {
    padding-top: 30px;
    .new-arrival-slider {
      .swiper-wrapper {
        .swiper-slide {
          .post-card {
            margin: 12px;
          }
        }
      }
    }
  }
}
// common card
.post-card {
  @extend %shadow;
  text-align: center;
  background: $white-color;
  &:hover {
    .card-thumb {
      img {
        &.onmouse-thumb {
          opacity: 0;
        }
        &.outmouse-thumb {
          opacity: 1;
        }
      }
      .cart-btns {
        bottom: 0;
        opacity: 1;
      }
    }
  }
  .card-thumb {
    padding: 12px;
    height: 280px;
    overflow: hidden;
    position: relative;
    background: $white-color;
    img {
      width: 100%;
      object-fit: scale-down;
      &.outmouse-thumb {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in;
      }
    }
    .cart-btns {
      position: absolute;
      bottom: -70px;
      left: 50%;
      width: 100%;
      opacity: 0;
      transform: translateX(-50%);
      transition: all 0.3s ease-in;
      ul.cart-list {
        @extend %flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 6px;
        li {
          button {
            margin: 0 15px;
            background: transparent;
          }
        }
      }
      button.cartBtn {
        width: 100%;
        font-size: 12px;
        color: $white-color;
        padding: 8px 20px;
        background: $black;
      }
    }
  }
  .card-text {
    padding: 12px;
    h5 {
      margin: 0;
    }
    ul.price-list {
      @extend %flex;
      align-items: center;
      justify-content: center;
      li {
        margin: 0 5px;
        display: inline-block;
        strong {
          font-size: 12px;
          color: $theme-color;
        }
        del {
          font-size: 12px;
        }
      }
    }
  }
  &.offer-item {
    .card-thumb {
      overflow: hidden;
      position: relative;
      .offer-breds {
        position: absolute;
        top: 10px;
        left: 10px;
        span {
          font-size: 14px;
          color: $white-color;
          border-radius: 6px;
          padding: 4px 10px;
          background: $primary;
          @extend %shadow;
          display: inline-block;
        }
      }
      .sale-breds {
        position: absolute;
        top: 10px;
        right: 10px;
        span {
          font-size: 14px;
          color: $white-color;
          border-radius: 6px;
          padding: 4px 10px;
          background: $theme-color;
          @extend %shadow;
          display: inline-block;
        }
      }
    }
  }
}
//*=== new arrivals css ends  ===*//

//*=== buy by rooms css start ===*//
.buy-room-area {
  padding: 40px 0;
  .section-wrapper {
    padding-top: 40px;
    .room-items {
      &:hover {
        .item-inner {
          .inner-thumb {
            &::before {
              animation: shine 1s;
            }
          }
        }
      }
      .item-inner {
        padding: 30px;
        border-radius: 6px;
        background: $theme-gradient;
        .inner-thumb {
          height: 325px;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 6px;
          }
          &::before {
            @extend %absolute;
            top: 0;
            left: -80%;
            display: block;
            width: 50%;
            height: 100%;
            background: -o-linear-gradient(
              left,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0.3) 100%
            );
            background: -webkit-gradient(
              linear,
              left top,
              right top,
              from(rgba(255, 42556, 255, 0)),
              to(rgba(255, 255, 255, 0.3))
            );
            background: linear-gradient(
              to right,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0.3) 100%
            );
            -webkit-transform: skewX(-25deg);
            -ms-transform: skewX(-25deg);
            transform: skewX(-25deg);
          }
        }
        .inner-text {
          @extend %flex;
          padding-top: 16px;
          align-items: center;
          justify-content: space-between;
          h4 {
            margin: 0;
            color: $white-color;
            font-weight: 500;
          }
          a {
            height: 30px;
            width: 30px;
            line-height: 30px;
            border-radius: 100%;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            background: $white-color;
          }
        }
      }
    }
    .col-lg-4.col-sm-6.col-12:nth-child(2) .room-items {
      .item-inner {
        background: linear-gradient(to bottom, #0c047ed9, #340d11);
      }
    }
  }
}
//*=== buy by rooms css ends  ===*//

//*=== popular-category css start ===*//
.popular-category {
  padding: 40px 0;
  .section-wrapper {
    padding-top: 40px;
    .category-slider {
      .swiper-wrapper {
        .swiper-slide {
          .post-card {
            margin: 12px;
          }
        }
      }
    }
  }
}
//*=== popular-category css ends  ===*//

//*=== fasion area css start ===*//
.fasion-area {
  padding: 40px 0;
  .section-wrapper {
    .fasion-slider {
      .fasion-thumb {
        position: relative;
        img {
          width: 100%;
          object-fit: cover;
        }
        .fasion-text {
          position: absolute;
          right: 40px;
          bottom: 40px;
          padding: 16px;
          border-radius: 6px;
          width: 300px;
          min-height: 250px;
          background: $white-color;
          @extend %shadow;
          @include breakpoint(md) {
            width: 350px;
          }
          @include breakpoint(lg) {
            width: 400px;
          }
          @include breakpoint(xl) {
            width: 450px;
          }
          @include breakpoint(xxl) {
            width: 500px;
          }
          h4 {
            margin: 0;
            color: $black;
            font-weight: 500;
            max-width: 250px;
            line-height: 1.3;
          }
          a.btn {
            padding: 8px 42px;
            margin-top: 36px;
          }
        }
      }
    }
  }
}
//*=== fasion area css ends  ===*//

//*=== lets us help area start ===*//
.lets-help {
  padding: 40px 0;
  .section-wrapper {
    margin: 0 auto;
    padding-top: 40px;
    max-width: 1250px;
    .help-item {
      padding: 16px;
      text-align: center;
      .item-thumb {
        height: 250px;
        img {
          width: 100%;
          height: 100%;
          object-fit: scale-down;
        }
      }
      .item-text {
        h5 {
          margin: 0;
        }
        p {
          margin: 0 auto;
          font-size: 14px;
          max-width: 200px;
        }
      }
    }
  }
}
//*=== lets us help area ends  ===*//

//*=== shop banner css start ===*//
.shop-banner {
  min-height: 500px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-image: url(../../assets/images/banner/shop-bg.jpg);
  .shop-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    button.btn {
      padding: 12px 52px;
      span {
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
}
//*=== shop banner css ends  ===*//

//*=== special offer area start ===*//
.special-offer {
  padding: 40px 0;
  .section-wrapper {
    padding-top: 30px;
    .portfolio-list {
      ul.portfolio-menu {
        @extend %flex;
        align-items: center;
        justify-content: center;
        background: $white-color;
        @extend %shadow;
        border-radius: 25px;
        max-width: 800px;
        margin: 0 auto;
        li.button {
          cursor: pointer;
          padding: 12px 16px;
          display: inline-block;
          @include breakpoint(lg) {
            padding: 12px 24px;
          }
          &.is-checked {
            color: $theme-color;
          }
        }
      }
    }
    .grid {
      padding-top: 40px;
      .grid-item {
        padding: 7.5px;
        width: 100%;
        @include breakpoint(sm) {
          width: calc(100% / 2 - 15px);
        }
        @include breakpoint(md) {
          width: calc(100% / 3 - 15px);
        }
        @include breakpoint(xl) {
          width: calc(100% / 4 - 15px);
        }
        @include breakpoint(xxl) {
          width: calc(100% / 5 - 15px);
        }
      }
    }
  }
}
//*=== special offer area ends  ===*//

//*=== footer area start ===*//
footer {
  padding: 40px 0;
  .section-wrapper {
    .quick-links {
      .link-title {
        h6 {
          margin: 0;
          font-size: 16px;
          font-weight: 500;
          padding-bottom: 12px;
        }
      }
      ul.footer__menu_list {
        li {
          a {
            margin: 5px 0;
            font-size: 13px;
            display: inline-block;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: $theme-color;
            }
          }
        }
        &.style-one {
          display: block;
          li {
            font-size: 13px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            margin: 10px 0;
            span {
              margin-right: 6px;
            }
          }
        }
      }
    }
  }
}
//*=== footer area ends  ===*//

//?=== product view page css start ===?//
.porduct-view {
  .primary-sidebar {
    .sidebar-widget {
      position: relative;
      padding: 30px;
      border: 1px solid darkgray;
      border-radius: 15px;
      @extend %shadow;
    }
    .product-sidebar {
      .single-post {
        position: relative;
        &:not(:last-child) {
          margin-bottom: 10px;
          border-bottom: 1px dotted rgba(0, 0, 0, 0.15);
          padding-bottom: 10px;
        }
        .content {
          padding-left: 95px;
        }
        i {
          font-size: 12px;
        }
      }
      .image {
        height: 80px;
        width: 80px;
        float: left;
        margin-right: 10px;
        overflow: hidden;
      }
    }
    .por-sidebar-item {
      margin-top: 26px;
      .pro-filter {
        button.filter-btn {
          font-size: 13px;
          line-height: 15px;
          color: #000000;
          margin-top: 25px;
          padding: 8px 16px;
          box-sizing: border-box;
          border-radius: 3px;
          background: #ffffff;
          border: 0.25px solid rgba(7, 111, 175, 0.5);
          &:focus {
            border: 0;
            outline: 0;
            box-shadow: none;
          }
        }
      }
    }
    .banner-img {
      position: relative;
      clear: both;
      border-radius: 10px;
      overflow: hidden;
      img {
          border-radius: 10px;
      }
      &:hover {
          img {
              opacity: 0.9;
          }
      }
      .banner-text {
          position: absolute;
          top: 50%;
          z-index: 2;
          transform: translateY(-50%);
          padding: 0 50px;
          span {
              color: darkgray;
          }
          h4 {
              font-weight: 700;
              margin-bottom: 15px;
              min-height: 100px;
          }
          &:hover h4 {
              transform: translateY(-5px);
          }
          a {
              i {margin-left: 5px;transition-duration: 0.3s;font-size: 10px;}
              &:hover i {margin-left: 10px; transition-duration: 0.3s;}
          }
  
      }
  }
  }
  .widget-category-2 {
    ul {
      li {
        display: flex;
        align-items: center;
        line-height: 48px;
        border-radius: 5px;
        border: 1px solid $theme-color;
        padding: 9px 18px;
        margin: 0 0 15px 0;
        justify-content: space-between;
        transition: all .3s ease-in-out;
        &:last-child {
          margin-bottom: 0 !important;
        }
        &:hover {
          border: 1px solid $primary-lt;
          @extend %shadow;
          transition: all .3s ease-in-out;
          a {
            color: $theme-color;
          }
        }
        a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 0;
          line-height: 1.5;
          color: #000;
          font-size: 14px;

          &:hover {
            color: $theme-color;
            background-color: transparent;
          }
          img {
            max-width: 30px;
            margin-right: 15px;
          }
        }

        &:hover .dropdown-menu {
          display: block;
          opacity: 1;
          visibility: visible;
          margin-top: 0px;
          pointer-events: auto;
        }

        &.has-children {
          position: relative;
          > a::after {
            content: "\f111";
            font-family: "uicons-regular-straight" !important;
            position: absolute;
            right: 30px;
            top: 50%;
            margin-top: -10px;
          }
          .dropdown-menu {
            left: 100%;
            top: 0;
            margin: 0;
            margin-top: 0px;
            border: 1px solid darkgray;
            min-width: 800px;
            width: 100%;
            right: 0;
            border-radius: 0;
            padding: 20px;

            .submenu-title {
              font-size: 16px;
              font-weight: 700;
              display: block;
              color: $theme-color;
              padding: 5px 34px;
            }
            .header-banner2 {
              display: block;
              position: relative;
              margin-bottom: 15px;

              .banne_info {
                position: absolute;
                right: 0;
                top: 50%;
                -moz-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                padding: 15px;

                a {
                  text-transform: capitalize;
                  position: relative;
                  padding: 0;
                  color: #272a2c !important;

                  &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    height: 1px;
                    width: 50%;
                    background-color: #272a2c;
                    transition: all 0.5s ease-in-out;
                  }
                }
              }
            }
          }
        }
      }
      &.end {
        li {
          margin-right: 0;
        }
      }
    }
    .count {
      display: inline-block;
      background-color: $primary-lt;
      width: 24px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      border-radius: 20px;
      margin-left: 5px;
      font-size: 12px;
      color: #000;
    }
  }
}

// all keyframes css

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}
